
.container section > div{
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container section > div > div{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.container section > div > div > div{
    width: 60px;
    height: 60px;
    background-color: var(--Strawberry_red);
    border-radius: 50%;
    position: relative;
    opacity: 0.7;
    overflow: hidden;
}
.container section > div > div > div::before{
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--White);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 15px 15px 0 0 red;
}
.container section > div > div > div::after{
    position: absolute;
    content: "";
    width: 15px;
    height: 8px;
    border-right: 4px solid var(--Strawberry_red);
    border-top: 4px solid var(--Strawberry_red);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-8.5px) rotate(135deg);
}
.container section > div > h1{
    margin: 0;
    padding: 20px 0 0 0;
    text-align: center;
    color: var(--Marine_blue);
}
.container section > div > p{
    color: var(--Cool_gray);
    text-align: center;
    word-spacing: 2px;
    padding: 0 20px;
}
@media (min-width: 1200px) {
    .container section > div{
        height: 100%;
    }
}